*.zip
/pum/.vscode/
/pum/Regresja.py
*.docx
/amum/.ipynb_checkpoints
/pum/Datasets/FlapPyBird/
**/.ipynb_checkpoints/
*.7z
/wyklad-swad/
/wyklady-pum/
/metody_optymalizacji/
/pum/Datasets/NASA_JPL_asteroid.csv
/wykłady_amum/
__pycache__/
.idea/