*.zip
/pum/.vscode/
/pum/Regresja.py
*.docx
/amum/.ipynb_checkpoints
/pum/Datasets/FlapPyBird/
**/.ipynb_checkpoints/
*.7z
/wyklady/
/metody_optymalizacji/
/pum/Datasets/NASA_JPL_asteroid.csv
__pycache__/
.idea/