# Ignore all datasets folders
datasets/
**/datasets/

# Ignore checkpoints
checkpoints/
**/checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
/lightning_logs/
key.txt