--index-url https://download.pytorch.org/whl/cu130
--extra-index-url https://pypi.org/simple
torch
torchvision
pytorch-lightning
numpy==2.3.5
matplotlib==3.10.7
pandas==2.3.3
pillow==12.0.0
scikit-learn==1.7.2
seaborn==0.13.2
comet_ml==3.54.2
torchsummary==1.5.1
torchinfo==1.8.0
tqdm==4.67.1
requests==2.32.5
opencv-python
torchviz